body {
  font-family: "Courier 10 Pitch", Courier, monospace;
  background-color: lightgrey;
  font-size: 1em;         
  line-height: 120%;
  overflow: hidden
}
textarea {
  font-family: inherit;
  font-size: inherit;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#editor {
  margin: 0;
  padding: 0;
  border: none;
  padding-left: 10px;
  margin-left: 40px;
}
#info {
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
  height: 100px;
  padding: 10px 20px; 
  box-shadow: 0 0 10px gray;
}
#info ul li {
  color: gray;
}
#info ul li.active {
  font-weight: bold;
  color: black;
}